-----01 	HOW TO OPEN SQL
Search run sql command line

-----02		HOW TO CONNECT DATABASE/SYSTEM
CONNECT SYSTEM/OVIOVI123;
(the password is OVI123. we do it on the alteration)

-----03		HOW TO SEE ALL USERS
SELECT USERNAME FROM DBA_USERS;
SELECT USERNAME FROM DBA_USERS ORDER BY USERNAME;
SELECT USERNAME FROM DBA_USERS ORDER BY CREATED;
SELECT USERNAME FROM DBA_USERS ORDER BY CREATED DESC;

-----04		HOW TO CREATE USER
CREATE USER OVI IDENTIFIED BY OVI123;

-----05		HOW TO ALTER SYSTEM PASSWORD
CONN/AS SYSDBA 
ALTER USER SYSTEM IDENTIFIED BY OVI;

-----06		HOW TO ALTER USER PASSWORD
ALTER USER OVI IDENTIFIED BY OVI123;

-----07		HOW TO DROP A USER
DROP USER OVI CASCADE;

-----08		HOW TO GRAND PRIVILEGE
CONNECT SYSTEM/OVI123;
GRANT CONNECT, CREATE SESSION, RESOURCE TO OVI;
(now we can work with the user.. we can also use)
GRANT ALL PRIVILEGES TO OVI;

-----09		HOW TO USE TIME
SELECT USERNAME,TO_CHAR(CREATED, 'DD-MON-YYYY') FROM DBA_USERS;
SELECT TO_CHAR(CREATED, 'DD-MONTH-YYYY') FROM DBA_USERS;
SELECT TO_CHAR(CREATED, 'DD-MONTH-YYYY HH24:MI:SS') FROM DBA_USERS;


-------------------------------------------------------------------------------------------------------------


-----10		HOW TO CREATE A TABLE
CREATE TABLE DEPT(
DEPTID NUMBER,
DEPTNAME VARCHAR2(5),
CONSTRAINTS PK_DEPT PRIMARY KEY(DEPTID)
);

-----11		HOW TO DROP TABLE
DROP TABLE DEPT;

-----12		HOW TO SEE COLUMN AND TYPE
DESC DEPT;

-----13		HOW TO SEE ALL TABLES
CONNECT SYSTEM/OVI123;
DESC DBA_TABLES;
(from specific user)
CONNECT SYSTEM/OVI123;
SELECT TABLE_NAME 
FROM DBA_TABLES 
WHERE OWNER='LOBO';

-----14		HOW TO SEARCH FOR A SPECIFIC TABLE
SELECT TABLE_NAME
FROM DBA_TABLES
WHERE TABLE_NAME='DEPT';

-----15		HOW TO DISCONNECT
DISC

-----16		HOW TO ADD PRIMARY KEY AFTER CREATING A TABLE
CREATE TABLE STD(
SID NUMBER,
SNAME VARCHAR2(5)
);
ALTER TABLE STD 
ADD CONSTRAINT PK_STD PRIMARY KEY(SID);

-----17		HOW TO ADD COMPOSITE PK
CONSTRAINTS PK_TABLENAME PRIMARY KEY(C1,C2,....);

-----18		HOW TO UPDATE VALUES OF A TABLE
UPDATE TABLE_NAME
SET COLUMN1 = VALUE1, COLUMN2 = VALUE2, ...
WHERE CONDITION;

-----19		HOW TO DELETE VALUES FROM A TABLE
DELETE 
FROM TABLE_NAME
WHERE CONDITION;

-----20		HOW TO ADD FOREIGN KEY
CREATE TABLE COUNTRY(
COUNTRY_NAME VARCHAR2(30),
COUNTRY_ID NUMBER,
PRIMARY KEY(COUNTRY_ID)
);
CREATE TABLE CITIZEN(
CITIZEN_ID NUMBER,
CITIZEN_NAME VARCHAR2(20),
COUNTRYID NUMBER,
PRIMARY KEY(COUNTRYID),
FOREIGN KEY(COUNTRYID)
REFERENCES COUNTRY(COUNTRY_ID)
);

NOTE::
-PARENT TABLE SHOULD BE CREATED FIRST
-BOTH COLUMNS OF THE SAME TYPE
-FOR 2 FOREIGN KEY WE NEED TO WRITE 2 STATEMENTS

-----21		HOW TO ADD COLUMN
ALTER TABLE CITIZEN
ADD CITIZEN_AGE NUMBER;

-----22		HOW TO DELETE COLUMN
ALTER TABLE CITIZEN
DROP COLUMN CITIZEN_AGE;

-----23		HOW TO CHANGE TYPE OF COLUMN
ALTER TABLE CITIZEN
MODIFY CITIZEN_AGE VARCHAR2(20);


-------------------------------------------------------------------------------------------------------------
4.1:	CITIZEN

CREATE TABLE CITIZEN ( 
 	C_ID NUMBER (3), 
 	C_NAME VARCHAR2 (10), 
 	C_HOME VARCHAR2 (10), 
 	AGE NUMBER (2), 
 	OCCUPATION VARCHAR2 (15), 
 	GENDER VARCHAR2 (6), 
 	SALARY NUMBER, 
 	CONSTRAINTS PK_CITIZEN PRIMARY KEY (C_ID) 
); 
 
INSERT INTO CITIZEN VALUES (1, 'A', 'Dhaka', 25, 'Teacher', 'Male', 50000); 
INSERT INTO CITIZEN VALUES (2, 'B', 'Dhaka', 56, 'Service', 'Male', 60000); 
INSERT INTO CITIZEN VALUES (3, 'C', 'Ctg', 71, 'Retired', 'Male', 10000); 


4.2:	DEPT 
 
CREATE TABLE DEPT ( 
	DEPT_ID NUMBER (3), 
	DEPT_NAME VARCHAR (3), 
	DEPT_BUILDING VARCHAR (3), 
	DEPT_ESTD NUMBER (4), 
	CONSTRAINTS PK_DEPT PRIMARY KEY (DEPT_ID) 
); 
 
 
INSERT INTO DEPT VALUES (101,'CSE','NEW', 1998); 
INSERT INTO DEPT VALUES (102,'SWE','NEW', 2018); 
INSERT INTO DEPT VALUES (103,'MCE','OLD', 1998); 
 	  



4.3:	STD 
 
CREATE TABLE STD ( 
	STD_ID NUMBER (3), 
	STD_NAME VARCHAR (2), 
	STD_DEPT NUMBER (3), 
	STD_CG NUMBER (3, 2), 
	CONSTRAINTS PK_STD PRIMARY KEY (STD_ID), 
	CONSTRAINTS FK_STD_DEPT FOREIGN KEY (STD_DEPT) 	REFERENCES DEPT (DEPT_ID) 
); 
 
INSERT INTO STD VALUES (41,'A', 101, 3.5); 
INSERT INTO STD VALUES (42,'B', 102, 3.6); 
INSERT INTO STD VALUES (43,'C', 103, 3.7); 

4.4:	SUPERVISOR

CREATE TABLE SUPERVISOR ( 
	SUP_ID NUMBER (4), 
	SUP_STAFF_ID NUMBER (5), 
	SUP_DEPT NUMBER (3), 
	SUP_DPET_ID NUMBER (3), 
	CONSTRAINTS PK_SUP PRIMARY KEY (SUP_ID), 
	CONSTRAINTS FK_SUP_DEPT FOREIGN KEY (SUP_DEPT) 	REFERENCES DEPT (DEPT_ID)
); 

4.5:	STUDENT
 
CREATE TABLE STUDENT ( S_ID NUMBER (2), 
	S_NAME VARCHAR (3), 
	S_HOME VARCHAR (10), 
	S_DEPT NUMBER (3), 
	S_SUP_ID NUMBER (4), 
	S_CG NUMBER (3, 2), 
	CONSTRAINTS PK_STUDENT PRIMARY KEY (S_ID), 
	CONSTRAINTS FK_STUDENT_DEPT FOREIGN KEY (S_DEPT) 	REFERENCES DEPT (DEPT_ID)
); 
 
 
INSERT INTO STUDENT VALUES (1,'SA','DHAKA', 101, 1001, 3.5); 
INSERT INTO STUDENT VALUES (2,'SB','CTG', 102, 1002, 3.6); 
INSERT INTO STUDENT VALUES (3,'SC','DHAKA', 103, 1003, 3.7); 


4.6:	MANUFACTURERS 
 
CREATE TABLE Manufacturers ( 
	Code INTEGER,   
	Name VARCHAR (255) NOT NULL, 
	PRIMARY KEY (Code)    
); 
 
 
INSERT INTO Manufacturers VALUES (1,'Sony'); 
INSERT INTO Manufacturers VALUES (2,'Creative Labs'); 
INSERT INTO Manufacturers VALUES (3,'Hewlett-Packard'); 

4.7:	PRODUCTS
 
CREATE TABLE Products ( 
	Code INTEGER,  
	Name VARCHAR (255) NOT NULL,   
	Price DECIMAL NOT NULL,   
	Manufacturer INTEGER NOT NULL,  
	PRIMARY KEY (Code),   
	FOREIGN KEY (Manufacturer) REFERENCES Manufacturers (Code) 
); 
 
 
INSERT INTO Products (Code, Name, Price, Manufacturer) VALUES (1,'Hard drive', 240, 5); 
INSERT INTO Products (Code, Name, Price, Manufacturer) VALUES (2,'Memory', 120, 6); 
INSERT INTO Products (Code, Name, Price, Manufacturer) VALUES (3,'ZIP drive',150,4); 

--------------------------------------------------------------------------

3.1: 	SELECT QUERY

--24		HOW TO SEE VALUES OF A TABLE(4)
SELECT *FROM PRODUCTS;
SELECT CODE, NAME FROM PRODUCTS;
SELECT PRICE FROM PRODUCTS;
SELECT DISTINCT PRICE FROM PRODUCTS;

--25		HOW TO RENAME OUTPUT COLUMNS(5)
SELECT PRICE AS MONEY FROM PRODUCTS;
SELECT DISTINCT PRICE AS MONEY FROM PRODUCTS;

--26		HOW TO COUNT
SELECT COUNT (PRICE) FROM PRODUCTS;
SELECT COUNT (DISTINCT PRICE) AS MONEY FROM PRODUCTS;


3.2:	CONDITION

--27		USING CONDITION
SELECT COL1,COL2,...
FROM TABLE_NAME
WHERE CONDITION;
OPERATIONS WE CAN USE:  =,<,>,<>,>=,<=,BETWEEN,LIKE,IN ETC [<> MEANS !=]
AND +,-,*,/.

--28		HOW TO USE WHERE
SELECT C_ID,C_NAME FROM CITIZEN WHERE AGE>50;
SELECT C_NAME AS NAME FROM CITIZEN WHERE C_HOME='Dhaka';
SELECT C_NAME,C_HOME FROM CITIZEN WHERE C_HOME<>'Dhaka';
SELECT C_NAME,SALARY FROM CITIZEN WHERE SALARY BETWEEN 20000 AND 50000;
SELECT C_NAME,SALARY FROM CITIZEN WHERE SALARY NOT BETWEEN 20000 AND 50000;
SELECT C_NAME,SALARY FROM CITIZEN WHERE SALARY BETWEEN 20000 AND 50000 ORDER BY SALARY;
SELECT C_NAME,SALARY FROM CITIZEN WHERE SALARY BETWEEN 20000 AND 50000 ORDER BY SALARY DESC;
SELECT C_ID,C_NAME,SALARY*1.05 FROM CITIZEN WHERE OCCUPATION = 'Teacher';
SELECT SUM(SALARY*0.05) AS TOTAL FROM CITIZEN WHERE OCCUPATION = 'Teacher';

3.3:	NATURAL JOIN

--29		HOW TO NATURAL JOIN
SELECT STD.STD_ID,DEPT.DEPT_NAME
FROM STD,DEPT
WHERE STD.STD_DEPT=DEPT.DEPT_ID;

--30		HOW TO RENAME NATURAL JOIN
SELECT S.STD_ID,D.DEPT_NAME
FROM STD S,DEPT D
WHERE S.STD_DEPT=D.DEPT_ID;

3.4:	AND-OR-NOT

--31		HOW TO USE AND OR NOT
SELECT *FROM CITIZEN WHERE C_HOME = 'Dhaka' AND OCCUPATION = 'Teacher';
SELECT *FROM CITIZEN WHERE OCCUPATION = 'Teacher' OR OCCUPATION = 'Doctor';
SELECT *FROM CITIZEN WHERE NOT C_HOME = 'Dhaka';
SELECT *FROM CITIZEN WHERE OCCUPATION = 'Teacher' AND (C_HOME = 'Dhaka' OR C_HOME = 'Ctg');
SELECT *FROM CITIZEN WHERE OCCUPATION = 'Teacher' AND NOT C_HOME = 'Dhaka';

3.5:	ORDER BY

--32		HOW TO USE ORDER BY
SELECT COL1,COL2,..
FROM TABLE
WHERE CONDITION
ORDER BY COL1,COL2,.... ASC||DESC
(WITHOUT CONDITION)
SELECT COL1,COL2,..
FROM TABLE
ORDER BY COL1,COL2,.... ASC||DESC

3.6:	AGGREGATE FUNCTIONS

--33		HOW TO USE AGGREGATE FUNCTIONS
SELECT MIN(SALARY) FROM CITIZEN;
SELECT MAX(SALARY) FROM CITIZEN;
SELECT C_NAME,SALARY FROM CITIZEN WHERE SALARY = (SELECT MAX(SALARY) FROM CITIZEN);
SELECT COUNT(C_ID) FROM CITIZEN WHERE OCCUPATION = 'Teacher';
SELECT COUNT(*) FROM CITIZEN;
SELECT AVG(SALARY) FROM CITIZEN;
SELECT SUM(SALARY) FROM CITIZEN;

3.7:	GROUPING
--34
SELECT OCCUPATION,AVG(SALARY) FROM CITIZEN GROUP BY OCCUPATION;

3.8:	HAVING
--35
SELECT C_HOME, COUNT(C_HOME) FROM CITIZEN GROUP BY C_HOME HAVING COUNT(C_HOME)>=3;
(Having only works with aggregate functions with group by)

3.9:	ROW NUMBER

-----36		HOW TO SEE ROW NUMBERS
SELECT ROWNUM, C_ID, SALARY FROM CITIZEN;
-----37		HOW  TO FIND OUT TOP 5 SALARY HONDERS
SELECT ROWNUM, C_ID, SALARY FROM (SELECT *FROM CITIZEN ORDER BY SALARY DESC) WHERE ROWNUM <=5;
SELECT *FROM(SELECT *FROM CITIZEN ORDER BY SALARY) WHERE ROWNUM <=5;
SELECT *FROM(SELECT *FROM CITIZEN ORDER BY SALARY DESC) WHERE ROWNUM <=5;
-----38		HOW TO FIND OUT 2ND HIGHEST SALARY HOLDER
(here renaming ROWNUM is necessary)
SELECT 
*FROM(
	SELECT ROWNUM AS RN,C_ID,SALARY
	FROM(
		SELECT C_ID,SALARY
		FROM CITIZEN
		ORDER BY SALARY DESC
		)
	)
WHERE RN=2;


3.10: 	LIKE OPERATOR

Note:
syntax: SELECT c1,c2,... FROM table_name WHERE cn LIKE pattern;
% - represents zero or more characters
 _ - represents a single character

USE: Find any values that .........
starts with 'a' ----- WHERE name LIKE 'a%'
ends with 'e' ----- WHERE name LIKE '%e'
starts with 'a' and ends with 'e' ----- WHERE name LIKE 'a%e'
have 'gg' as a substring ----- WHERE name LIKE '%gg%'
have 'r' in the 2nd position ----- WHERE name LIKE '_r%'
starts with 'a' and have atleast 3characters ----- WHERE name LIKE 'a_%_%'

-----39		FIND OUT C_HOME WHICH START WITH 'C' OR 'D'
SELECT *FROM CITIZEN WHERE C_HOME LIKE 'C%' OR C_HOME LIKE 'D%';
-----40		FIND OUT C_HOME WHICH DOESN'T START WITH 'C'
SELECT *FROM CITIZEN WHERE C_HOME NOT LIKE 'C%';

3.11: 	ALIAS

Note:
Aliases are used to giv table/column a temporary readable name.
It only exists for the duration of the query. Aliases can be useful when:
There are more than one table involved in a query
Functions are used in the query.
Column names are too big or not very readable.
Two or more columns are combined together.
Column syntax: SELECT col_name AS alias_name FROM table_name;
Table syntax: SELECT col_name(s) FROM table_name AS alias_name;

-----41		SHOW THE CITIZEN NAMES AND A STATEMENT OF THEIR OCCUPATION WITH SALARY IN FORMAT - OCCUPATION(SALARY)
SELECT C_ID, OCCUPATION||'('||SALARY||')' AS STATEMENT FROM CITIZEN;

3.12:	UNION
SYNTAX:
SELECT C_NAME FROM TABLE_1
UNION
SELECT C_NAME FROM TABLE_2;
(UNION GIVES DISTINCT RESULTS)
SELECT C_NAME FROM TABLE_1
UNION ALL
SELECT C_NAME FROM TABLE_2;
-----42 HOW TO FIND MAX AND MIN SALARY IN SINGLE QUERY
SELECT *FROM CITIZEN
WHERE SALARY = (SELECT MAX(SALARY) FROM CITIZEN)
UNION
SELECT *FROM CITIZEN
WHERE SALARY = (SELECT MIN(SALARY) FROM CITIZEN);

3.13:	IN OPERATOR
SYNTAX:
SELECT C_NAME
FROM TABLE_NAME
WHERE C_NAME IN (VALUE1,VALUE2,.....);
OR
SELECT C_NAME
FROM TABLE_NAME
WHERE C_NAME IN (SELECT STATEMENT);
-----		HOW TO FIND WHO LIVE IN DHAKA OR CTG OR KHULNA
SELECT *FROM CITIZEN WHERE C_HOME IN ('Dhaka','Ctg','Khulna');
SELECT *FROM CITIZEN WHERE C_HOME NOT IN ('Dhaka','Ctg','Khulna');

3.14: NULL FUNCTIONS

CREATE TABLE PRODUCT ( 
        ID NUMBER PRIMARY KEY, 
        NAME VARCHAR2 (10), 
        INSTOCK NUMBER, 
		TOTALORDER NUMBER, 
        UNITPRICE NUMBER 
); 
INSERT INTO PRODUCT VALUES (1, 'PEN', 10, 2, 5); 
INSERT INTO PRODUCT VALUES (2, 'ERASER', 10, 1,5); 
INSERT INTO PRODUCT VALUES (3, 'NOTEBOOK', 10, 6, 30); 

SELECT ID, UNITPRICE* (TOTALORDER + INSTOCK) FROM PRODUCT; 
SELECT ID, UNITPRICE* (NVL (TOTALORDER, 0) + INSTOCK) 
AS TOTAL FROM PRODUCT; 

3.15:	CONSTRAINTS

      NOT NULL - Ensures that a column cannot have a NULL value 
      UNIQUE - Ensures that all values in a column are different 
      PRIMARY KEY - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table 
      FOREIGN KEY - Uniquely identifies a row/record in another table 
      CHECK - Ensures that all values in a column satisfies a specific condition 
      DEFAULT - Sets a default value for a column when no value is specified 
      INDEX - Used to create and retrieve data from the database very quickly 
	
CREATE TABLE Persons ( 
ID INT NOT NULL, 
LASTNAME VARCHAR (20) NOT NULL, 
FIRSTNAME VARCHAR (255) NOT NULL, 
Age NUMBER 
); 
DROP TABLE PERSONS;	
ALTER TABLE - ADD Column: 

ALTER TABLE table_name 
ADD column_name datatype; 

ALTER TABLE – DROP COLUMN: 

ALTER TABLE table_name 
DROP COLUMN column_name; 

ALTER TABLE – MODIFY COLUMN: 

ALTER TABLE table_name 
MODIFY column_name datatype; 

CREATE TABLE Persons ( 
ID INT NOT NULL UNIQUE, 
LASTNAME VARCHAR2 (20) NOT NULL, 
FIRSTNAME VARCHAR2 (20), 
Age INT 
); 

CREATE TABLE Persons ( 
ID INT NOT NULL, 
LASTNAME VARCHAR2 (20) NOT NULL, 
FIRSTNAME VARCHAR2 (20), 
Age INT, 
UNIQUE (ID,LASTNAME) 
); 

ALTER TABLE Persons 
ADD UNIQUE (ID); 
ALTER TABLE PERSONS 
DROP UNIQUE(ID); 

ALTER TABLE Persons 
ADD CONSTRAINT UNIQUE_PERSON UNIQUE (ID, LASTNAME); 
ALTER TABLE Persons 
DROP CONSTRAINT UNIQUE_PERSON; 

DROP TABLE Persons;
CREATE TABLE Persons ( 
ID INT NOT NULL, 
LASTNAME VARCHAR2 (20) NOT NULL, 
FIRSTNAME VARCHAR2 (20), 
AGE INT CHECK (AGE>=18) 
); 

DROP TABLE Persons;
CREATE TABLE Persons ( 
ID INT NOT NULL UNIQUE, 
LASTNAME VARCHAR2 (20) NOT NULL, 
FIRSTNAME VARCHAR2 (20), 
Age INT, 
CITY VARCHAR2 (20), 
CHECK (AGE>=18 AND CITY='Sandnes') 
); 

ALTER TABLE Persons 
ADD CHECK (Age>=18);

ALTER TABLE Persons 
ADD CONSTRAINT CHECK_PERSON CHECK (Age>=18 AND City='Sandnes'); 
ALTER TABLE Persons 
DROP CONSTRAINT CHECK_PERSON;


DEFAULT:
        CREATE TABLE Orders ( 
           ID INT NOT NULL, 
           ORDERNUMBER INT NOT NULL, 
           ORDERDATE DATE DEFAULT SYSDATE, 
           TOTALORDES NUMBER DEFAULT 0 
        ); 
INSERT INTO ORDERS (ID, ORDERNUMBER) VALUES (1, 12); 
INSERT INTO ORDERS VALUES (2, 10, DEFAULT, DEFAULT);
INSERT INTO ORDERS VALUES (6, 10, NULL, NULL);


SQL DEFAULT on ALTER TABLE: 
        ALTER TABLE ORDERS MODIFY TOTALORDES DEFAULT 1; 
DROP a DEFAULT Constraint: 
        ALTER TABLE ORDERS MODIFY ORDERDATE DEFAULT NULL; 

AUTO INCREMENT:

CREATE SEQUENCE SQ 
MINVALUE 1 
START WITH 1 
INCREMENT BY 1 
CACHE 10; 
DROP TABLE Persons;
CREATE TABLE Persons ( 
ID NUMBER PRIMARY KEY, 
LASTNAME varchar (20) NOT NULL, 
FIRSTNAME varchar (20) 
); 
INSERT INTO Persons VALUES (SQ.NEXTVAL,'Lars','Monsen');



VIEW:
Syntax: 
         CREATE OR REPLACE VIEW view_name AS 
         SELECT column1, column2, ... 
         FROM table_name 
         WHERE condition;
		 
         CREATE OR REPLACE VIEW SORTED_CITIZEN_TEACHER AS 
         SELECT * 
         FROM CITIZEN 
         WHERE OCCUPATION=’Teacher’  
         ORDER BY SALARY;
		 
		 
SELECT * 
FROM SORTED_CITIZEN_TEACHER; 
		 
SELECT C_NAME AS NAME, SALARY 
FROM SORTED_CITIZEN_TEACHER 
ORDER BY SALARY DESC;


MULTIPLE TABLE VIEW:
        CREATE TABLE PATIENT ( 
        ID NUMBER PRIMARY KEY, 
        NAME VARCHAR2 (10), 
        AGE NUMBER 
        ); 

        CREATE TABLE DISEASE ( 
        DID NUMBER PRIMARY KEY, 
        D_NAME VARCHAR2 (10) 
        ); 

        CREATE TABLE MEDICAL_DETAIL ( 
        PID NUMBER, 
        DID NUMBER, 
        FOREIGN KEY (PID) REFERENCES PATIENT (ID), 
        FOREIGN KEY (DID) REFERENCES DISEASE (DID) 
        ); 

        INSERT INTO PATIENT VALUES (1,’A’, 23); 
        INSERT INTO PATIENT VALUES (2,’B’, 23); 
        INSERT INTO PATIENT VALUES (3,’C’, 23); 

        INSERT INTO DISEASE VALUES (1,’X’); 
        INSERT INTO DISEASE VALUES (2,’Y’); 
        INSERT INTO DISEASE VALUES (3,’Z’); 

        INSERT INTO MEDICAL_DETAIL VALUES (1, 1); 
        INSERT INTO MEDICAL_DETAIL VALUES (2, 1); 
        INSERT INTO MEDICAL_DETAIL VALUES (3, 1); 
		
        CREATE OR REPLACE VIEW MEDICAL_1 AS 
        SELECT P.ID, P.NAME, P.AGE, D.D_NAME 
        FROM PATIENT P, DISEASE D, MEDICAL_DETAIL MD 
        WHERE P.ID=MD.PID AND D.DID=MD.DID AND P.ID=1;

DROP VIEW MEDICAL_1;		